.NameInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  text-align: center;

  &.vanish input,
  &.vanish legend,
  &.vanish button
  {
    transition: .7s;
    opacity: 0%;
  }

  legend, input {
    animation: appear ease 1.5s;
  }

  &:focus-within span {
      text-shadow: 0px 0px 5px  #325fa3;
    }

  legend {
    text-transform: uppercase;
    font-size: 34px;
    margin: 0 0 20px;
    padding: 0;
    font-weight: bold;
    cursor: default;
  }

  fieldset {
    border: none;
    display: flex;
    padding: 0;
    margin: 0 0 20px;
    background: #1F243A;
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    color: #325fa3;
    text-transform: capitalize;
    font-size: 24px;  
  }

  input {
    width: 100%;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid #2894ff;
    color: #fff;
    text-align: center;
    outline: none;
    text-transform: capitalize;
    background: transparent;
    caret-color: #2894ff;
    transition: .5s;
    &:focus {
      box-shadow: 0 0 5px 1px #2894ff;
    }
  }

  span  {
    font-size: 30px;
    width: 100%;
  }

  button {
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 28px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;

    &:hover, &:focus {
      outline: none;
      text-shadow: 0px 0px 5px  #fff;
      color: #fff;
    }

    &:disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
