.Game {
  transition: 0.7s;
  display: grid;
  grid-template-rows: max-content;
  min-height: #{'max(700px, 100%)'};
  min-width: 100%;
  width: max-content;
  background: #1f243a;
  padding-right: 20px;

  &.vanish .cards,
  &.vanish .header
  {
    transition: .7s;
    opacity: 0%;
  }


  .cards {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    animation: appear ease 1.5s;
    max-width: 700px;
    justify-self: center;
    height: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    animation: appear ease 1.5s;
    text-align: center;
  }

  .player, .steps {
    padding: 10px 20px;
    font-size: 28px;
    & span {
      font-weight: bold;
    }
  }

  .steps {
    
  }

  .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 24px;
    transition: 0.3s;
    background: transparent;
    color: #fff;
    border: 2px solid #325fa3;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
    font-weight: bold;

    &:hover {
      background: #325fa3;
      border-color:  #325fa3;
      color: #fff;
      outline: none;
    }

    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0%;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}