.container {
    display: flex;
    -webkit-perspective: 1000;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #325fa3;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    font-size: calc( (100vw - 320px)/(1024 - 320) * (46 - 24) + 24px);
    position: relative;
    -webkit-transform-style: preserve-3d;
    transition: all ease 0.5s;
  }

  .front, .back{
    color: #fff;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    pointer-events: none;
  }

  .back, .active{
    transform: rotateY(180deg);
  }
