* {
  box-sizing: border-box;
  color:  #2894ff;
  appearance: none;
  // background: transparent;

}
.App {
  // box-sizing: border-box;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 20px 0 20px 20px;
  overflow: auto;
  // background: rgba(31, 36, 58, 1);
  background: #1F243A;
}

// .vanish {
//     opacity: 0;
//     visibility: hidden;
//   }
