.Finish {
  transition: .7s;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #1F243A;

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &.vanish header,
  &.vanish main,
  &.vanish footer
  {
    transition: .7s;
    opacity: 0%;
  }

  header {
    animation: appear ease 1.5s;
    margin: 0 0 20px;
  }

  h1 {
     text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: default;
    margin: 0;
  }

  .player-highscore {
    font-size: 24px;
    margin: 0 0 20px;

    &__score {
      font-weight: bold;
    }

    &__name {
      text-transform: capitalize;
      font-weight: bold;
    }

    &__level {
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  main {
    animation: appear ease 1.5s;
    margin: 0 0 auto;
  }

  .action-buttons {
    margin: 0 0 20px;
    padding-bottom: 20px;
  }

  button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 24px;
    transition: 0.3s;
    background: transparent;
    color: #fff;
    border: 2px solid #325fa3;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
    font-weight: bold;

    &:hover {
      background: #325fa3;
      border-color:  #325fa3;
      color: #fff;
      outline: none;
    }

    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }

  h2 {
    margin: 0;
    text-transform: capitalize;
  }

  .scores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 320px;
    margin: 0 auto;
    align-items: center;
    
    &__name, &__score {
      font-size: 24px;
      padding: 10px 5px;
      overflow: auto;
      color: #fff;
    }
    &__name {
      text-align: left;
    }
    &__score {
      text-align: right;
    }
  }

  footer {
    animation: appear ease 1.5s;
    margin: 0 0 20px;
  }
}